body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: #f5f5f5;
}

#map {
  height: 600px;
  width: 100%;
}
#form {
  display: none;
}

#map #form {
  display: inline;
}

#message {
  display: none;
}

#map #message {
  display: inline;
}

.header {
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 20px 10px;
  border-bottom: 1px solid #dadada;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: #46bcec;
  font-family: "Ubuntu";
  font-size: 40px;
}

.header a:hover {
  color: #46bcec;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

/* Style the search box */
#search-place-input {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

input:focus {
  outline: none !important;
  border-color: #ddd;
  box-shadow: 0 0 10px #ddd;
}

.search__input {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-top: 9px;
}

.search__location i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 4px 8px 8px;
  color: #777;
  cursor: pointer;
  transition: 0.24s;
}
.search__input {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-top: 9px;
  margin-left: 15px;
}
.search__input i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 4px 8px 8px;
  color: #777;
  cursor: pointer;
  transition: 0.24s;
}
.search__input input {
  border: none;
  background: transparent;
  font: 14px/1.4 sans-serif;
  padding-left: 26px;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: 0.24s;
  width: 0px;
  padding: 8px 0px 8px 34px;
}
.search__input i:hover {
  color: #0bf;
}
.search__input input:focus + i {
  padding: 12px 4px 12px 8px;
  color: #ddd;
  pointer-events: none;
}
.search__input input {
  border: none;
  background: transparent;
  font: 14px/1.4 sans-serif;
  padding-left: 26px;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: 0.24s;
  width: 0px;
  padding: 8px 0px 8px 34px;
}

.search__input input:focus {
  border-color: #aaa;
  outline: none;
  width: 200px;
  padding: 12px 12px 12px 34px;
  border-color: #0bf;
}

.search__input input:focus + i {
  padding: 12px 4px 12px 8px;
  color: #ddd;
  pointer-events: none;
}
.infowindow {
  height: auto;
  width: 100px;
  border: 2px solid #48b5e9;
}
.infowindow__heading {
  background-color: #48b5e9;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  height: 25px;
  text-align: center;
}
.infowindow__heading:hover {
  background: #484b77;
}

.infowindow__save--button {
  background-color: #48b5e9;
  border-radius: 5px;
  margin: 5px;
  height: 24px;
  width: 80px;
}
.infowindow__delete--button {
  margin: 5px;
  height: 24px;
  border-radius: 5px;
  background-color: #48b5e9;
  width: 80px;
  box-shadow: none;
}
.infowindow__save--button:hover {
  background-color: green;
}
.infowindow__delete--button:hover {
  background-color: red;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
